<app-home-auth-navbar></app-home-auth-navbar>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="profile">
        <div class="card">
            <img src="../../assets/profile.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h3><b>{{first_name }} {{last_name}}</b></h3> 
                <p>Username: {{username}}</p> 
                <p>User ID: {{_id}}</p> 
                <button type="button" (click)="openModalEdit(editTemplate)" class="btn btn-secondary mb-2" >Edit Profile</button>
                <br>
            </div>
        </div>
    </div>
        
    <div class="main">
        <div class="border-bottom">
            <h2 style="width:49%;" class="d-inline-block text-left">Discussions</h2>
            <div style="width:50%;" class="d-inline-block text-right">
                <button type="button" class="btn btn-link" style="padding: 0;" ><small><i class="fa fa-plus"></i> Add Post</small></button>
            </div>
            
        </div>
        <div class="mt-4 border-bottom" *ngFor="let post of posts">
            <div class="media" >
                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                <div class="media-body">
                    <span class="text-muted pull-right">
                        <small class="text-muted">Created on {{post.createdAt | date}}, </small>
                        <small class="text-muted">Last Updated on {{post.updatedAt | date}}</small>
                    </span>
                    <strong class="text-success"><i>@{{post.post_author}}</i></strong> 
                    <span >
                        <h3 class="ml-2 mt-3"><a href="">{{post.title}}</a></h3>
                    </span>
                </div>
            </div>
        <h5 class="pt-3">{{post.body}}</h5>
        <p>Comments: {{post.__v}}</p>
        <button type="button" (click)="openModalComment(commentsTemplate)" class="btn btn-link"><small>View comments</small></button>

        <ng-template  #commentsTemplate >
            <div class="container">
                <div class="modal-header">
                    <h4 class="modal-title pull-left display-5">POST</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="onReset()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="media m-2" >
                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                    <div class="media-body">
                        <span class="text-muted pull-right">
                            <small class="text-muted">Created on {{post.createdAt | date}} </small>
                        </span>
                        <strong class="text-success"><i>@{{post.post_author}}</i></strong> 
                        <span >
                            <h3 class="ml-2 mt-3"><a href="">{{post.title}}</a></h3>
                        </span>
                    </div>
                </div>
                <div class="m-1 ml-3 mt-4"> 
                    <h5 class="pt-3">{{post.body}}</h5>
                </div>
                <div>
                    <div class="panel-heading mt-5 lead">
                        Comments: 
                    </div>
                    <div *ngFor="let comments of post.comments" class="border-top border-bottom pt-2">
                        <div>
                            <p class="attribution">by <span class="text-success"> <strong><i>@{{comments.author}}</i></strong></span> on {{comments.created_on | date}}</p>
                        </div>
                        <div class="pl-3">
                            <p>{{comments.comment_body}}</p>
                        </div>
                    </div>
                </div>
                <form [formGroup]="commentForm">
                    <div class="form-group m-1 mb-2 mt-4">
                        <label for="first_name">Leave a comment</label>
                        <textarea class="form-control"  id="first_name" type="text" formControlName="comment_body"  placeholder="Write a comment..."></textarea>
                        <button type="submit" class="btn btn-primary mt-3 d-inline-block" form="form1" (click)="onPatchComment(post._id)">Reply comment</button>
                    </div>
                    
                </form>
            </div>
        </ng-template>

        </div>
        
    </div>


<ng-template #editTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left display-5">EDIT PROFILE</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="form1">
        <alert type="danger" *ngIf="errors" >
            {{errors}}
        </alert>

        <form [formGroup]="firstNameForm">
            <div class="form-group">
                <label for="first_name"><b>First Name</b></label>
                <input  class="form-control"
                        id="first_name" 
                        type="text"
                        (keyup.enter)="onSubmitEdit()" 
                        formControlName="first_name"
                        [ngClass]="{'is-invalid': firstNameForm.get('first_name').hasError('required')}">
                <div class="invalid-feedback">First name shouldn't be empty</div>
            </div>
        </form>

        <form [formGroup]="lastNameForm">
            <div class="form-group">
                    <label for="last_name"><b>Last Name</b></label>
                <input  class="form-control"
                        id="last_name" 
                        type="text"
                        (keyup.enter)="onSubmitEdit()" 
                        formControlName="last_name" 
                        [ngClass]="{'is-invalid': lastNameForm.get('last_name').hasError('required')}">
                <div class="invalid-feedback">Last name shouldn't be empty</div>
            </div>
        </form>

        <form [formGroup]="usernameForm">
                <div class="form-group">
                    <label for="username"><b>Username</b></label>
                    <input  class="form-control" 
                            id="username"
                            type="text"  
                            formControlName="username"  
                            minlength="4"
                            (keyup.enter)="onSubmitEdit()"
                            placeholder="Username"
                            [ngClass]="{'is-invalid': usernameForm.get('username').hasError('minlength') || usernameForm.get('username').hasError('required')}">
                    <div class="invalid-feedback">
                        <div *ngIf="usernameForm.get('username').hasError('minlength')">Username must be at least 4 characters long</div>
                        <div *ngIf="usernameForm.get('username').hasError('required')">Username shouldn't be empty</div>
                    </div>
                    
                </div>
        </form>

        <form [formGroup]="passwordForm">
            <div class="form-group">
                <label for="password"><b>New Password</b></label>
                <input  class="form-control" 
                        id="password" 
                        type="password" 
                        formControlName="password" 
                        (keyup.enter)="onSubmitEdit()"
                        minlength="8" 
                        placeholder="Enter new password"
                        [ngClass]="{'is-invalid': passwordForm.get('password').hasError('minlength')}">
                <div class="invalid-feedback">Password must be at least 8 characters long</div>
            </div>
        </form>
    </form>
        <button type="submit" class="btn btn-primary mt-3" form="form1" (click)="onSubmitEdit()">Save changes</button>
    </div>
    
</ng-template>



</body>
