<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-light bg-light d-flex h-20">
    <div class="btn-group" dropdown>
        <a class="nav-link" routerLink="/"><i class="fa fa-fw fa-home"> </i>Home</a>
        <button id="button-split" type="button" 
                dropdownToggle class="btn btn btn-link dropdown-toggle dropdown-toggle-split"
                aria-controls="dropdown-split">
                <span class="caret"></span>
        </button>
        <ul id="dropdown-split" 
            *dropdownMenu class="dropdown-menu"
            role="menu" 
            aria-labelledby="button-split">
            <li class="text-center">
                <a class="dropdown-item nav-link p-2" routerLink="/chat">
                    <i class="fa fa-comments"></i>  Chat
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a style="cursor: pointer" class="nav-link p-2" routerLinkActive="active"  (click)="onLogOut()" >Logout <span class="sr-only">(current)</span>
        </a>
    </div>
</nav>
